
ul {
	margin-left:0;
	padding-left:0;
}

a {
	font-size:15px;
    display: inline-block;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
	width:214px;
	height:40px;

}
li{
	width: 230px;
	float: left;
	list-style-type:none;
}
li:hover {
	background:#ff63f7;
	border-radius:10px;
	padding-left:2px;
    padding-top:2px;
    list-style-type:none;
    border: 1px solid black; 
}
body{
	background: linear-gradient(to right,#ff63f7,#0c7dff);
}
